In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
url = 'https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv'
df = pd.read_csv(url)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

TODO #1

In [3]:
df.head()

  country_region_code  ... residential_percent_change_from_baseline
0                  AE  ...                                      1.0
1                  AE  ...                                      1.0
2                  AE  ...                                      1.0
3                  AE  ...                                      1.0
4                  AE  ...                                      1.0

[5 rows x 15 columns]

TODO #2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5996028 entries, 0 to 5996027
Data columns (total 15 columns):
 #   Column                                              Dtype
---  ------                                              -----
 0   country_region_code                                 object
 1   country_region                                      object
 2   sub_region_1                                        object
 3   sub_region_2                                        object
 4   metro_area                                          object
 5   iso_3166_2_code                                     object
 6   census_fips_code                                    float64
 7   place_id                                            object
 8   date                                                object
 9   retail_and_recreation_percent_change_from_baseline  float64
 10  grocery_and_pharmacy_percent_change_from_baseline   float64
 11  parks_percent_change_from_baseline                  float64
 12  transit_stations_percent_change_from_baseline       float64
 13  workplaces_percent_change_from_baseline             float64
 14  residential_percent_change_from_baseline            float64
dtypes: float64(7), object(8)
memory usage: 686.2+ MB

TODO #3